{% extends 'base.html' %}

{% block title_display %}
<div class="jumbotron">
	<div class="container-fluid">
		<h1>{% block title_text %}{% endblock %}</h1>
	</div>
</div>
{% endblock title_display %}

{% block breadcrumb_display %}
<div class="container-fluid">
    <div class="row sub-header-breadcrumb">
        <div class="col-lg-8 col-md-6 col-sm-12">
            <ol class="breadcrumb text-lowercase">
        	{% block breadcrumbs %}{% endblock %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block logged_in_settings %}
{% load static %}
<div class="flt-left">
    <img id='id_img_logo' src="{% static 'empires/images/eye.png' %}" alt="Logo"/>
</div>
<div class="LogOff flt-right">
	<a id="id_logoff" style="text-decoration: none; color: black" href="{% url 'user_logout' %}"><i class="fa fa-power-off"></i> log-off</a>
</div>
{% endblock %}

{% block contents %}{% endblock %}
{% block footer %}{% endblock %}
