{% extends 'gm_home.html' %}

{% block gm_character_active %}class="active"{% endblock %}

{% block title_text %}
Characters
{% endblock %}

{% load static %}
{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block site_page_title %}
<div class="panel-heading">
    <h4 class="panel-title">
        <i class="fa fa-group"></i> Characters
    </h4>
</div>
{% endblock %}

{% block breadcrumbs %}
<li><a href="/empires">home</a></li>
<li><a href="{% url 'gm_characters' %}">characters</a></li>
{% endblock %}

{% block main_panel_layout %}
<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-user"></i> Characters
        </h4>
    </div>
    <div class="panel-body" id="id_characters">
        <div>
            Here Be a List of Characters
        </div>
    </div>
</div>
{% endblock %}
